.rectangle-260 {
    margin-top: 42px;
    margin-left: 183px;
    padding-top: 29px;
    width: 777px;
    height: 628px;
    background: #ffffff;
    border-radius: 34px 34px 34px 34px;
}

.rectangle-260 div {
    display: inline-block;
}

.fieldMap {
    margin-top: 7px;
    margin-left: 37px;
    width: 361px;
    height: 554px;
    background-color: red;
}

.fieldAttributes {
    width: 300px;
    margin-left: 65px;
    height: 554px;
    overflow-y:scroll;
}

.fieldAttributes div {
    display: block;
}

.paragraph-190 {
    margin-left: 40px;
    width: 186px;
    height: 28px;
    color: #202123;
    font-family: "Source Sans 3";
    font-weight: 600;
    font-size: 22px;
    line-height: 1.3;
    text-align: left;
}


.paragraph-250 {
    width: 209px;
    height: 18px;
    color: #202123;
    font-family: "Source Sans 3";
    font-weight: 600;
    font-size: 15px;
    line-height: 1.3;
    text-align: left;
}

.rectangle-280 {
    width: 243px;
    height: 48px;
    background: #ffffff;
    color: #444444;
    border-radius: 7px 7px 7px 7px;
    border-color: white;
    font-family: "Source Sans 3";
    font-weight: 400;
    font-size: 18px;
    line-height: 1.3;
    text-align: left;
}

.fieldAttributeHouse {
    margin-left: 0px;
    margin-top: 10px;
}